<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
	<userSettings>
		<Main.Properties.Settings>
			<setting name="AllowGodsIntervene" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DisplayFullItemNames" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SkipCopyProtection" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FreeTraining" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AlwayShowAreaMap" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PlayerAlwaysSaves" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ViewItemsStats" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SkipTitleScreen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ImprovedAreaMap" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NoRaceClassLimits" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SoundOn" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NoRaceLevelLimits" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SortTreasure" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PictureOn" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AnimationOn" serializeAs="String">
				<value>True</value>
			</setting>
		</Main.Properties.Settings>
	</userSettings>
</configuration>
