<?xml version="1.0" encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define SkuName = "Curse of the Azure Bonds"?>

  <?define ProductVersion="1.1.5" ?>
  <?define Manufacturer="Simeon Pilgrim"?>
  
  <?define BinDir="Main\bin\Release\"?>


  <Product Id="*"
           Name="Curse of the Azure Bonds"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="{6acb18e9-9a80-4ed4-a8ef-3634fa2b3e9b}"
           >
    
    <Package Id="*" InstallerVersion="300" Compressed="yes" Languages='1033' 
             Description="Curse of the Azure Bonds Installer"
             />

    <Media Id="1" Cabinet="Installer.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Curse of the Azure Bonds">

          <Component Id="LegacyComponent" Guid="ac733b14-f618-4fb2-bb9a-9ecb98b0e5c8">
            <File Id="_8x8d1.dax" Name="8x8d1.dax" Source="$(var.SolutionDir)Data\8x8d1.dax" />
            <File Id="_8x8d2.dax" Name="8x8d2.dax" Source="$(var.SolutionDir)Data\8x8d2.dax" />
            <File Id="_8x8d3.dax" Name="8x8d3.dax" Source="$(var.SolutionDir)Data\8x8d3.dax" />
            <File Id="_8x8d4.dax" Name="8x8d4.dax" Source="$(var.SolutionDir)Data\8x8d4.dax" />
            <File Id="_8x8d5.dax" Name="8x8d5.dax" Source="$(var.SolutionDir)Data\8x8d5.dax" />
            <File Id="_8x8d6.dax" Name="8x8d6.dax" Source="$(var.SolutionDir)Data\8x8d6.dax" />
            <File Id="bigpic1.dax" Source="$(var.SolutionDir)Data\bigpic1.dax" />
            <File Id="bigpic2.dax" Source="$(var.SolutionDir)Data\bigpic2.dax" />
            <File Id="bigpic6.dax" Source="$(var.SolutionDir)Data\bigpic6.dax" />
            <File Id="body2.dax" Source="$(var.SolutionDir)Data\body2.dax" />
            <File Id="body3.dax" Source="$(var.SolutionDir)Data\body3.dax" />
            <File Id="body4.dax" Source="$(var.SolutionDir)Data\body4.dax" />
            <File Id="body5.dax" Source="$(var.SolutionDir)Data\body5.dax" />
            <File Id="body6.dax" Source="$(var.SolutionDir)Data\body6.dax" />
            <File Id="cbody.dax" Source="$(var.SolutionDir)Data\cbody.dax" />
            <File Id="chead.dax" Source="$(var.SolutionDir)Data\chead.dax" />

            <File Id="cpic1.dax" Source="$(var.SolutionDir)Data\cpic1.dax" />
            <File Id="cpic2.dax" Source="$(var.SolutionDir)Data\cpic2.dax" />
            <File Id="cpic3.dax" Source="$(var.SolutionDir)Data\cpic3.dax" />
            <File Id="cpic4.dax" Source="$(var.SolutionDir)Data\cpic4.dax" />
            <File Id="cpic5.dax" Source="$(var.SolutionDir)Data\cpic5.dax" />
            <File Id="cpic6.dax" Source="$(var.SolutionDir)Data\cpic6.dax" />

            <File Id="dungcom.dax" Source="$(var.SolutionDir)Data\dungcom.dax" />

            <File Id="ecl1.dax" Source="$(var.SolutionDir)Data\ecl1.dax" />
            <File Id="ecl2.dax" Source="$(var.SolutionDir)Data\ecl2.dax" />
            <File Id="ecl3.dax" Source="$(var.SolutionDir)Data\ecl3.dax" />
            <File Id="ecl4.dax" Source="$(var.SolutionDir)Data\ecl4.dax" />
            <File Id="ecl5.dax" Source="$(var.SolutionDir)Data\ecl5.dax" />
            <File Id="ecl6.dax" Source="$(var.SolutionDir)Data\ecl6.dax" />

            <File Id="geo2.dax" Source="$(var.SolutionDir)Data\geo2.dax" />
            <File Id="geo3.dax" Source="$(var.SolutionDir)Data\geo3.dax" />
            <File Id="geo4.dax" Source="$(var.SolutionDir)Data\geo4.dax" />
            <File Id="geo5.dax" Source="$(var.SolutionDir)Data\geo5.dax" />
            <File Id="geo6.dax" Source="$(var.SolutionDir)Data\geo6.dax" />

            <File Id="head2.dax" Source="$(var.SolutionDir)Data\head2.dax" />
            <File Id="head3.dax" Source="$(var.SolutionDir)Data\head3.dax" />
            <File Id="head4.dax" Source="$(var.SolutionDir)Data\head4.dax" />
            <File Id="head5.dax" Source="$(var.SolutionDir)Data\head5.dax" />
            <File Id="head6.dax" Source="$(var.SolutionDir)Data\head6.dax" />

            <File Id="item1.dax" Source="$(var.SolutionDir)Data\item1.dax" />
            <File Id="item2.dax" Source="$(var.SolutionDir)Data\item2.dax" />
            <File Id="item3.dax" Source="$(var.SolutionDir)Data\item3.dax" />
            <File Id="item4.dax" Source="$(var.SolutionDir)Data\item4.dax" />
            <File Id="item5.dax" Source="$(var.SolutionDir)Data\item5.dax" />
            <File Id="item6.dax" Source="$(var.SolutionDir)Data\item6.dax" />
            <File Id="items" Source="$(var.SolutionDir)Data\items" />

            <File Id="mon1cha.dax" Source="$(var.SolutionDir)Data\mon1cha.dax" />
            <File Id="mon1itm.dax" Source="$(var.SolutionDir)Data\mon1itm.dax" />
            <File Id="mon1spc.dax" Source="$(var.SolutionDir)Data\mon1spc.dax" />

            <File Id="mon2cha.dax" Source="$(var.SolutionDir)Data\mon2cha.dax" />
            <File Id="mon2itm.dax" Source="$(var.SolutionDir)Data\mon2itm.dax" />
            <File Id="mon2spc.dax" Source="$(var.SolutionDir)Data\mon2spc.dax" />

            <File Id="mon3cha.dax" Source="$(var.SolutionDir)Data\mon3cha.dax" />
            <File Id="mon3itm.dax" Source="$(var.SolutionDir)Data\mon3itm.dax" />
            <File Id="mon3spc.dax" Source="$(var.SolutionDir)Data\mon3spc.dax" />

            <File Id="mon4cha.dax" Source="$(var.SolutionDir)Data\mon4cha.dax" />
            <File Id="mon4itm.dax" Source="$(var.SolutionDir)Data\mon4itm.dax" />
            <File Id="mon4spc.dax" Source="$(var.SolutionDir)Data\mon4spc.dax" />

            <File Id="mon5cha.dax" Source="$(var.SolutionDir)Data\mon5cha.dax" />
            <File Id="mon5itm.dax" Source="$(var.SolutionDir)Data\mon5itm.dax" />
            <File Id="mon5spc.dax" Source="$(var.SolutionDir)Data\mon5spc.dax" />

            <File Id="mon6cha.dax" Source="$(var.SolutionDir)Data\mon6cha.dax" />
            <File Id="mon6itm.dax" Source="$(var.SolutionDir)Data\mon6itm.dax" />
            <File Id="mon6spc.dax" Source="$(var.SolutionDir)Data\mon6spc.dax" />

            <File Id="pic1.dax" Source="$(var.SolutionDir)Data\pic1.dax" />
            <File Id="pic2.dax" Source="$(var.SolutionDir)Data\pic2.dax" />
            <File Id="pic3.dax" Source="$(var.SolutionDir)Data\pic3.dax" />
            <File Id="pic4.dax" Source="$(var.SolutionDir)Data\pic4.dax" />
            <File Id="pic5.dax" Source="$(var.SolutionDir)Data\pic5.dax" />
            <File Id="pic6.dax" Source="$(var.SolutionDir)Data\pic6.dax" />

            <File Id="randcom.dax" Source="$(var.SolutionDir)Data\randcom.dax" />
            <File Id="sky.dax" Source="$(var.SolutionDir)Data\sky.dax" />

            <File Id="sprit1.dax" Source="$(var.SolutionDir)Data\sprit1.dax" />
            <File Id="sprit2.dax" Source="$(var.SolutionDir)Data\sprit2.dax" />
            <File Id="sprit3.dax" Source="$(var.SolutionDir)Data\sprit3.dax" />
            <File Id="sprit4.dax" Source="$(var.SolutionDir)Data\sprit4.dax" />
            <File Id="sprit5.dax" Source="$(var.SolutionDir)Data\sprit5.dax" />
            <File Id="sprit6.dax" Source="$(var.SolutionDir)Data\sprit6.dax" />

            <File Id="tiles.dax" Source="$(var.SolutionDir)Data\tiles.dax" />
            <File Id="title.dax" Source="$(var.SolutionDir)Data\title.dax" />

            <File Id="walldef2.dax" Source="$(var.SolutionDir)Data\walldef2.dax" />
            <File Id="walldef3.dax" Source="$(var.SolutionDir)Data\walldef3.dax" />
            <File Id="walldef4.dax" Source="$(var.SolutionDir)Data\walldef4.dax" />
            <File Id="walldef5.dax" Source="$(var.SolutionDir)Data\walldef5.dax" />
            <File Id="walldef6.dax" Source="$(var.SolutionDir)Data\walldef6.dax" />
            <File Id="wildcom.dax" Source="$(var.SolutionDir)Data\wildcom.dax" />
          </Component>
          <Component Id="LegacyComponentMissingFile" Guid="{B2110817-6985-45ec-A1B8-40C28FD95281}">
            <File Id="comspr.dax" Source="$(var.SolutionDir)Data\comspr.dax" />
          </Component>

          <Component Id="MainComponent" Guid="{20B26580-D989-42db-AB5A-53DC13BA27C7}">
            <File Id ="main.exe" Source="$(var.SolutionDir)$(var.BinDir)main.exe" >
              <Shortcut Id="startmenuAdv"
                       Directory="ProgramMenuDir"
                       Advertise="yes"
                       Name="Curse of the Azure Bonds"
                       WorkingDirectory="INSTALLLOCATION"
                       Icon="MainIcon.exe">
                <Icon Id="MainIcon.exe" SourceFile="$(var.SolutionDir)$(var.BinDir)main.exe" />
              </Shortcut>
            </File>
            <RemoveFolder Id="DeleteShortcutFolder" Directory="ProgramMenuDir" On="uninstall" />
          </Component>
          <Component Id="EngineComponent" Guid="{BA296A86-2188-4389-9DEE-FD773637B349}">
            <File Id ="engine.dll" Source="$(var.SolutionDir)$(var.BinDir)engine.dll" />
          </Component>
          <Component Id="ClassesComponent" Guid="{193AEC02-2C90-47dc-931D-B8D6523B4779}">
            <File Id ="classes.dll" Source="$(var.SolutionDir)$(var.BinDir)classes.dll" />
          </Component>
          <Component Id="LoggingComponent" Guid="{42F3391F-FA43-4cb2-90DE-344FC6C19EC4}">
            <File Id ="logging.dll" Source="$(var.SolutionDir)$(var.BinDir)logging.dll" />
          </Component>
          <Component Id="LicenseDoc" Guid="{E7BDA157-1637-4a2a-84F4-7825EEFEE354}">
            <File Id ="CotABLicense.rtf" Source="$(var.SolutionDir)Installer\CotAB License.rtf" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMenu">
        <Directory Id="ProgramMenuDir" Name="Curse of the Azure Bonds"/>
      </Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="LegacyComponent" />
      <ComponentRef Id="LegacyComponentMissingFile" />
      <ComponentRef Id="MainComponent" />
      <ComponentRef Id="EngineComponent" />
      <ComponentRef Id="ClassesComponent" />
      <ComponentRef Id="LoggingComponent" />
      <ComponentRef Id="LicenseDoc"/>
    </Feature>

    <Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
      <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
    </Condition>

    <Upgrade Id="{6acb18e9-9a80-4ed4-a8ef-3634fa2b3e9b}">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.ProductVersion)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Maximum="$(var.ProductVersion)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
    </Upgrade>

    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
    </InstallUISequence>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="CotAB License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />


  </Product>
</Wix>
